noscript {
    position: fixed;
    left: 10%;
    right: 10%;
    bottom: 0px;
    padding: 3px;
    padding-left: 40px;
    padding-right: 40px;

    text-align: center;
    font-size: large;
    font-family: sans-serif;
    background-color: #ffcb00;
    border: 3px #ff6500 solid;

    z-index: 80;
}

#loading {
    position: fixed;
    left: 40%;
    top: 40%;
    width: 20%;
    height: 10%;
    padding: 5px;
    background-color: black;
    color: white;
    visibility: visible;

    font-family: monospace;
    font-size: xx-large;
    text-align: center;

    z-index: 100;
}

/*EMOJI KEYBOARD*/
#emoji_kb {
    position: absolute;
    padding: 3px;
    left: 5px;
    bottom: 5px;
    top: 60px;
    width: 70%;
    overflow-y: scroll;
    float: left;
    background-color: white;
    border: 2px solid #636363;
}

#emoji_set {
    position: absolute;
    padding: 10px;
    right: 5px;
    top: 60px;
    bottom: 5px;
    width: 20%;
    float: right;
    background-color: white;
    border: 2px solid #636363;

    overflow-y: scroll;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

    #emoji_set h1 {
        font-family: 'Amaranth', Tahoma, Geneva, sans-serif;
        text-align: center;
        margin-top: 0px;
    }

    #emoji_set ul {
        list-style: none;
        margin: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0px;
    }

    #emoji_set a {
        text-decoration: none;
    }

.gTree_group {
    list-style: none;
    margin-left: 15px;
    padding: 0px;
}

.gTree_subgroup {
    list-style: none;
    margin-left: 30px;
    padding: 0px;
}

.group_panel {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
    padding-bottom: 3px;
    text-align: center;
    border: 2px solid #636363;
    background-color: #e6e6e6;
}

.group_title {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    background-color: lightgrey;
    font-family: 'Amaranth', Tahoma, Geneva, sans-serif;
    font-size: x-large;
    vertical-align: middle;
    line-height: 40px;
}

.subgroup_panel {
    margin: 5px;
    padding: 0px;
    padding-bottom: 7px;
    padding-top: 0px;
    border: 2px solid #636363;
    background-color: white;
    text-align: center;
}

.subgroup_title {
    width: 100%;
    height: 30px;
    margin-bottom: 7px;
    background-color: #bdbdbd;
    font-family: 'Amaranth', Tahoma, Geneva, sans-serif;
    font-size: medium;
    vertical-align: middle;
    line-height: 30px;
}

.subgroup_panel button {
    font-size: xx-large;
    width: 60px;
    background-color: transparent;
    border: none;
}

.subgroup_panel button:hover {
    background-color: aquamarine;
    cursor: pointer;
}

#emoji_tooltip {
    position: fixed;
    z-index: 30;
    height: 100px;
    width: 350px;
    padding: 7px;

    background-color: white;
    border: 2px solid #636363;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
    visibility: hidden;
}

.emoji_title {
    text-transform: capitalize;
    font-family: 'Amaranth', Tahoma, Geneva, sans-serif;
    font-size: x-large;
    float: left;
    text-wrap: normal;
    word-wrap: hyphenate;

    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}